.header {
    /*background-color: #333;*/
    color: white;
    padding: 15px 0;
    text-align: center;
  }
  
.header nav ul {
  list-style: none;
  padding: 0;
}

.header nav li {
  display: inline-block;
  margin: 0 20px;
}

.header nav a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
  transition: text-decoration 1s;
}

.header nav li:not(.contactButton) a:hover {
  text-decoration: underline;
}



/************* CONTACT BUTTON STYLE *******************/

.header nav li.contactButton a {
  display: block;
  color: black;
  text-shadow: none;
}

.header nav li.contactButton {
  display: inline-flex;
  align-items: center; 
  padding: 10px 15px;
  background-color: white;
  border-radius: 1px;
  border: 1px solid rgb(0, 0, 0);
  transition: background-color 0.1s, border-color 0.1s; /* Add transition effects */
}

.header nav li.contactButton:hover a {
  color: white; /* Change the text color on hover */
}

.header nav li.contactButton:hover {
  background-color: rgb(0, 0, 0); /* Change the text color on hover */
  border: 1px solid rgb(255, 255, 255);
}