.iconsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    opacity: 0;
    transform: translateX(-90px);
}

.githubImg {
    width: 50px;
    height: auto;
    padding: 10px;
}

.gmailImg {
    width: 50px;
    height: auto;
}

.iconsContainer.fadeIn {
    opacity: 1;
    transition: opacity 3.5s ease-in-out, transform 2s cubic-bezier(.68,-0.55,.27,1.55);
    transform: translateX(0);
}