.gui_cube {
    width: 450px;
    height: auto;
  }


.html_img {
  height: 6vh;
  transform: rotate(32deg) translateY(15vh) translateX(10vh);
  border: 1px solid white;
  padding: 20px;
  border-radius: 50%;
}

.css_img {
  height: 3vh;
  transform: rotate(2deg) translateY(45vh) translateX(35vh);
  border: 1px solid white;
  padding: 20px;
  border-radius: 50%;
}

.js_img {
  height: 8vh;
  transform: rotate(-2deg) translateY(70vh) translateX(10vh);
  border: 1px solid white;
  padding: 20px;
  border-radius: 50%;
}

.py_img {
  height: 4vh;
  transform: rotate(12deg) translateY(55vh) translateX(-20vh);
  border: 1px solid white;
  padding: 20px;
  border-radius: 50%;
}