.html_img {
  height: 6vh;
  padding: 20px;
  animation: orbitAnimation1 70s linear infinite alternate;
}

@keyframes orbitAnimation1 {
  0% {
    transform: rotate(0deg) translateY(50vh) translateX(15vh);
  }
  100% {
    transform: translateY(50vh) translateX(10vh) rotate(180deg);
  }
}

.css_img {
  height: 3vh;
  padding: 20px;
  animation: orbitAnimation2 70s linear infinite alternate;
}

@keyframes orbitAnimation2 {
  0% {
    transform: rotate(2deg) translateY(45vh) translateX(35vh);
  }
  100% {
    transform: translateY(40vh) translateX(10vh) rotate(170deg);
  }
}

.js_img {
  height: 8vh;
  padding: 20px;
  border: 2px solid transparent;
  animation: orbitAnimation3 70s linear infinite alternate;
}

@keyframes orbitAnimation3 {
  0% {
    transform: rotate(-2deg) translateY(35vh) translateX(0vh);
  }
  100% {
    transform: translateY(15vh) translateX(10vh) rotate(260deg);
  }
}

.py_img {
  height: 4vh;
  padding: 20px;
  animation: orbitAnimation4 69s linear infinite alternate;
}

@keyframes orbitAnimation4 {
  0% {
    transform: rotate(60deg) translateY(50vh) translateX(10vh);
  }
  100% {
    transform: translateY(50vh) translateX(-30vh) rotate(230deg);
  }
}

.react_img {
  height: 11vh;
  padding: 20px;
  border: 2px solid transparent;
  animation: orbitAnimation5 68s linear infinite alternate;
}

@keyframes orbitAnimation5 {
  0% {
    transform: rotate(0deg) translateY(35vh) translateX(0vh);
  }
  100% {
    transform: translateY(15vh) translateX(10vh) rotate(130deg);
  }
}