.aboutContainer {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    margin-top: 15vh;
    margin-right: 2cap;
}


/**** ABOUT CMD ****/

.cmd-window {
    width: 42vw;
    height: 70vh;
    background-color:#0c0c0c;
    border: 1px solid #191919;
    overflow: hidden;
    font-family: "Courier New", monospace;
    color: #ffffff;
  }
  
  .cmd-title {
    background-color: #ffffff;
    justify-content: center;
    color: black;
    padding: 5px;
    border-bottom: 1px solid rgb(255, 255, 255);
  }
  
  .cmd-content {
    padding: 10px;
    height: calc(100% - 30px);
    overflow-y: auto;
  }