.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 50%;
  justify-content: center;
  margin-top: 15vh;
  margin-right: 2cap;
}


.textContainer h1 {
  font-size: 34px;
  font-weight: lighter;
  text-shadow: 0px 0px 100px rgb(165, 149, 255);
  background-clip: text;
  background-image: linear-gradient(to right, white,white,white, rgb(58, 79, 195));
  color: transparent;
}


.textContainer p {
    font-size: 26px;
    text-shadow: 0 0 70px rgb(62, 38, 196);
    background-clip: text;
    background-image: linear-gradient(to right, white,white,white,  rgb(58, 79, 195));
    color: transparent;
  }


@keyframes changeWord {
  0%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

.changingWordContainer {
  display: inline-block;
  position: relative;
}

.changingWord {
  border-radius: 5px;
  background-color: white;
  padding: 0 5px;
  color: black;
  font-size: 22px;
}
